* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  background-color: white;
  border: 0px solid red;
}
#home-page h1 {
  margin-left: 20px;
}
 h1 {
   color: #323743;
   font-size: 23px;
 }

.btn-primary {
  background-color: #33A2FF;
  color: white;
  font-size: 13px;
  margin-right: 5px;
}

.btn-primary:hover {
  background-color: #3a56d4;
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #E9EDF3;
  color: #333;
  font-size: 13px;
  border: 1px solid #CACFDA;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #e9ecef;
}

/* Header Styles */
header {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 15px 0;
  box-shadow: rgba(50, 60, 93, 0.15) 0px 3px 6px -2px, rgba(0, 0, 0, 0.1) 0px 3px 4px -3px;
}

.logo {
  margin-left: 5px;
  margin-top: 3px;
  font-size: 24px;
  font-weight: 700;
  color: #595959;
  cursor: pointer;
}


.nav-actions {
  display: flex;
  align-items: center;
}

.nav-icon {
  position: relative;
  margin-left: 10px;
  border: 0px solid black;
  cursor: pointer;
}

.nav-icon:nth-child(1) img {
  width: 27px;
  height: auto;
  margin-left: 5px;
  margin: 2px 0px;
}
.nav-icon:nth-child(2) img {
  width: 24px;
  height: auto;
}
.nav-icon:nth-child(3) img {
  width: 24px;
  height: auto;
}

.nav-icon i {
  font-size: 24px;
  color: #555;
}

.badge {
  position: absolute;
  bottom: -10px;
  right: 4px;
  background-color: #27d9ff;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-actions {
  border: 0px solid red;
  margin-left: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
}
.user-actions button {
  margin-left: 20px;
  margin-top: 5px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.6) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.favorites-page .products-grid {
  background-color: white;
}
/* Product Grid */
.products-grid {
  display: grid;
  background: #E9EBED;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin: 0px;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10),
  0 2px 2px rgba(0, 0, 0, 0.10),
  0 4px 4px rgba(0, 0, 0, 0.10),
  0 8px 8px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  
}

.product-card .btn-primary {
  border: 0px solid red;
  padding: 5px;
  font-weight: 650;
  background-color: #6D6E79;
}
.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  height: 200px;
  padding: 0px 30px 30px 30px;
  overflow: hidden;
  text-align: center;
  border: 0px solid red;
}

.product-image img {
  border: 0px solid blue;
  transition: transform 0.1s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.3);
}

.product-info {
  padding: 5px 15px 15px 15px;
  border: 0px solid red;
}

.product-title {
  font-weight: 600;
  margin: 0;
  height: 23px;
  overflow: hidden;
  border: 0px solid blue;
}
.product-describe {
  font-size: 13px;
}
.product-price {
  font-weight: 700;
  color: #36373B;
  margin-bottom: 5px;
  margin-left: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites-page {
  padding: 30px 20px;
}
.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-btn i {
  color: #000000;
  transition: color 0.3s ease;
}

.favorite-btn.active i {
  color: #00C1FF;
}

/* Shopping Cart Styles */
.cart-page {
  padding: 30px 20px;
}
.cart-page h1 {
  margin-bottom: 20px;
}
.cart5 {
  border: 0px solid red;
  display: inline-flex;
}
.cart-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h3 {
  margin-bottom: 5px;
}
.cart-item-details p {
  font-size: 14px;
}

.cart-item-price {
  font-weight: 700;
  color: #008BFF;
  margin-top: 5px;
}

.cart-item-quantity {
  display: flex;
  margin: 0 20px;
}

.cart-item-quantity button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #919CA6;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #E9EFF4;
}

.cart-item-quantity span {
  margin: 0 10px;
  font-weight: 500;
}

.cart-item-total {
  position: relative;
  top: 15px;
  font-weight: 700;
  font-size: 18px;
  margin: 0 20px;
}

.cart-item-remove button {
  position: relative;
  top: 12px;
  cursor: pointer;
  border: 0px solid red;
  background-color: #E9EFF4;
}

.cart-item-remove i {
  color: #FF4B6B;
  padding: 3px 6px;
  border: 1px solid #C8CCCF;
  border-radius: 5px;
}

.cart-summary {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  border: 0px solid red;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 15px;
}

.summary-item.total {
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid #ddd;
  padding-top: 5px;
  margin-top: 10px;
}

.empty-cart {
  text-align: center;
  padding: 50px 0;
}

.empty-cart h2 {
  position: relative;
  top: -20px;
  font-size: 20px;
}
.empty-cart p {
  position: relative;
  top: -20px;
  font-size: 15px;
}
.empty-cart i {
  font-size: 64px;
  color: #D1D6DB;;
  margin-bottom: 40px;
}

/* Checkout Styles */
.checkout-page {
  padding: 30px 20px;
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.checkout-steps::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  z-index: -1;
}


.step:nth-child(1) {
  background-color: #6B8F9B;
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: 500;
  border: 0px solid #000000;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px;
  position: relative;
  z-index: 1;
}




.checkout-form {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-form h2 {
  margin-left: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
}

.form-group input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.card-row {
  display: flex;
  gap: 15px;
}

.payment-options {
  display: inline-flex;
  margin-bottom: 20px;
}


/* Review Items */
.review-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}
.review-item p {
  font-size: 14px;
}
.review-item-image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.review-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.review-item-details {
  flex: 1;
}

.review-item-total {
  font-weight: 700;
  margin-left: 15px;
}

.review-summary {
  margin-top: 10px;
  border: 1px solid #ddd;
  line-height: 15px;
  margin-bottom: 10px;
}
.review-summary {
  font-size: 14px;
  font-weight: 500;
}
/* Profile Page Styles */
.profile-page {
  padding: 30px 20px;
}
.profile-page ion-icon {
  position: relative;
  top: -3px;
  font-size: 25px;
}
.profile-page .fas {
  position: relative;
  top: 0;
  font-size: 20px;
}
.profile-page .fa {
  position: relative;
  top: 0;
  font-size: 20px;
}
.profile-page p {
  margin-left: 10px;
}
.profile-header {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.profile-avatar {
  margin: 0px 10px 0px 15px;
}

.profile-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h2 {
  margin-bottom: 0px;
  text-align: center;
}
.profile-info p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: black;
}
.profile-nav {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-nav button {
  flex: 1;
  display: inline-flex;
  padding: 10px;
  background: none;
  border: none;
  border-right: 1px solid #eee;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #84868E;
  text-decoration: none;
}

.profile-nav button:last-child {
  border-right: none;
}

.profile-nav button.active {
  background-color: #8F98A4;
  color: white;
}

.profile-content {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.profile-content h2 {
  color: #84868E;
  font-size: 20px;
}

/* Order Card Styles */
.order-card {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid #CCCCCD;
  font-size: 14px;
}
.order-header h3 {
  font-weight: 600;
}


.order-status {
  padding: 3px 5px;
  background-color: #FBFFCF;
  color: black;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
}

.order-items {
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  border: 0px solid green;
  width: 100%;
}

.order-item {
  text-align: center;
  display: flex;
  padding: 10px 10px;
  border-bottom: 3px solid #D1D1D4;
  width: 100%;
}

.order-item img {
  display: flex;
  width: 100px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  text-align: center;
  margin-right: 20px;
}

.order-item-details {
  text-align: center;
  display: flex;
  gap: 20px;
  font-weight: bold;
  justify-content: space-between;
}



.order-total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 5px;
}

.order-actions {
  display: flex;
  gap: 10px;
}

/* Reviews Styles */
.review-card {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-product {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.review-product img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 15px;
}

.review-rating {
  margin-bottom: 10px;
}

.star {
  color: #ddd;
  font-size: 18px;
}

.star.filled {
  color: #ffb400;
}

.review-content h4 {
  margin-bottom: 5px;
}

/* Authentication Pages */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.auth-container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.auth-header {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #CFCFCF;
  font-size: 14px;
}

.auth-content {
  padding: 25px;
}

.social-login {
  margin-bottom: 20px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px;
  background-color: white;
  border: 1px solid #C6C8C9;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.google-btn:hover {
  background-color: #f8f9fa;
}

.google-btn svg {
  margin-right: 10px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #eee;
}

.divider span {
  padding: 0 10px;
  color: #777878;
  font-size: 12px;
}

/* Product Review Modal */
#review-product-info {
  font-size: 14px;
}
#product-review-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 0px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.modal-header h2 {
  font-size: 20px;
}

.close-modal {
  font-size: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 15px;
}

#review-product-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#review-product-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 4px;
}

.rating-input {
  display: flex;
  font-size: 24px;
}

.rating-star {
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s ease;
}

.rating-star.selected {
  color: #ffb400;
}

textarea {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;
}

/* Order Success Popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10002;
}

.popup {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.popup i {
  font-size: 50px;
  color: #34a853;
  margin-bottom: 10px;
}

.popup h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.popup p {
  margin-bottom: 20px;
  font-size: 14px;
}

/* Empty States */
.empty-favorites,
.empty-orders,
.empty-reviews {
  position: relative;
  top: -20px;
  text-align: center;
  margin: auto;
  padding: 20px 0px;
  border: 0px solid red;
}

.empty-favorites i,
.empty-orders i,
.empty-reviews i {
  font-size: 64px;
  color: #D1D6DB;
  margin-bottom: 40px;
  padding-top: 20px;
}

.empty-favorites h2 {
  position: relative;
  top: -20px;
  font-size: 20px;
  
}
.empty-favorites p {
  position: relative;
  top: -20px;
  font-size: 15px;
}
/* Media Queries */
@media (min-width: 768px) {
    
    .search-bar button {
            position: absolute;
            top: 0;
            right: 100px;
    }
    .search-bar {
      margin-top: 10px;
      margin-right: 70px;
    }
    
   .checkout-page {
      padding: 30px 20px;
      border: 0px solid red;
      max-width: 500px;
      margin: auto;
   }
   .cart-page {
     padding: 30px 20px;
     max-width: 700px;
     margin: auto;
     border: 0px solid red;
    }
    .profile-page {
    padding: 30px 20px;
    max-width: 800px;
    margin: auto;
   }
}

    
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    padding: 10px 0;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  .search-bar {
    margin: 10px 0;
    max-width: 100%;
  }
  
  .nav-actions {
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
  }
  
  .product-card {
    width: 100%;
  }
  
  .cart-item {
    flex-direction: column;
    text-align: center;
  }
  
  .cart-item-image {
    margin: 0 auto 15px;
  }
  
  .cart-item-quantity {
    margin: 15px 0;
  }
  
  .profile-nav {
    flex-wrap: wrap;
  }
  
  .profile-nav button {
    flex: 0 0 50%;
    border-bottom: 1px solid #eee;
  }
  
  .order-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-date {
    font-weight: 600;
  }
  
  .order-date, .order-status {
    margin-top: 5px;
  }
  
  .order-item {
    flex-direction: row;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  
  .order-item img {
    margin: 0 auto 10px;
  }
  
  .order-item-details {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  
  .checkout-steps {
    flex-direction: row;
    margin-left: 0px;
    font-size: 13px;
  }
  
  .checkout-steps::after {
    left: 0;
    right: auto;
    top: 30%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6A6A6A;
  }
  
  .step {
    margin-bottom: 15px;
  }
  
  .payment-options {
    display: inline-flex;
  }
  
  .card-row {
    flex-direction: row;
  }
  .popup {
    width: 80%;
  }
}




/* Modified Product Grid for Horizontal Scrolling with Centered Cards */
.products-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.products-grid {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  margin: 0;
  padding: 30px 5px 20px 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
  scrollbar-width: thin; /* For Firefox */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
  padding-left: calc(20% - 125px); /* Half container width minus half card width */
  padding-right: calc(20% - 125px); /* Same padding on right side */
  border: 0px solid red;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.products-grid::-webkit-scrollbar {
  height: 6px;
}

.products-grid::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

.products-grid::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.products-grid::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Make product cards fixed width with snap center alignment */
.product-card {
  flex: 0 0 auto;
  width: 250px; /* Fixed width for each card */
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10),
  0 2px 2px rgba(0, 0, 0, 0.10),
  0 4px 4px rgba(0, 0, 0, 0.10),
  0 8px 8px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  scroll-snap-align: center; /* Center the card on scroll */
}

/* Keep the rest of the product-card styles the same */
.product-card .btn-primary {
  border: 0px solid red;
  padding: 5px;
  font-weight: 650;
  background-color: #6D6E79;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Adjust media queries for horizontal scrolling */
@media (max-width: 768px) {
  .product-card {
    width: 220px; /* Slightly smaller on medium screens */
  }
  
  .products-grid {
    padding-left: calc(50% - 110px); /* Half container width minus half card width */
    padding-right: calc(50% - 110px); /* Same padding on right side */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 300px; /* Even smaller on mobile */
  }
  
  .products-grid {
    padding-left: calc(50% - 150px); /* Half container width minus half card width */
    padding-right: calc(50% - 150px); /* Same padding on right side */
    padding-bottom: 30px;
  }
}






@media (max-width: 640px) {
  .scroll-arrow {
    display: none;
  }
}


 .slideshow-container {
            position: relative;
            width: 100%;
            max-width: 800px;
            height: 450px;
            margin: 0 auto;
            margin-top: 20px;
            overflow: hidden;
            border-radius: 8px;
            border: 0px solid red;
        }
        
        .slides-wrapper {
            display: flex;
            transition: transform 1s ease-in-out;
            height: 100%;
            width: 700%; /* 100% × 7 slides (5 original + 2 clones) */
        }
        
        .slide {
            flex: 1;
            min-width: 14.2857%; /* Each slide takes 1/7 of wrapper (7 slides) */
            height: 100%;
            padding: 0px 20px 30px 20px;
            position: relative;
            background-color: white;
            overflow: hidden;
        }
        
        .slide img {
            width: 100%;
            height: auto;
            padding: 0px 200px 200px 200px;
            border: 0px solid red;
            object-fit: cover;
            text-align: center;
            transform: translateY(100px); /* Start slightly below */
            opacity: 0; /* Start invisible */
        }
        
        .slide.active img {
            transform: translateY(0); /* Move to center */
            opacity: 1; /* Fade in completely */
        }
        
        .controls {
            display: flex;
            justify-content: center;
            margin-top: -30px;
            margin-bottom: 20px;
            gap: 10px;
            
        }
        
        .control-btn {
            background-color: white;
            color: black;
            border: none;
            padding: 6px 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            transition: background-color 0.3s;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            z-index: 80;
        }
        
        
        .control-btn:hover {
            background-color: #00B6FF;
        }
        
        .indicator-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        
        .indicator {
            width: 12px;
            height: 12px;
            background-color: #bbb;
            border-radius: 50%;
            display: none;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        

        
        .slide-caption {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            width: 60%;
            margin: auto;
            background: rgba(0, 0, 0, 0.4);
            padding: 2px;
            text-align: center;
            font-size: 18px;
            z-index: 10;
        }
        
        .slide-caption h1 {
            font-size: 18px;
            color: white;
            margin-right: 20px;
            text-align: center;
        }










      
        
         /* CSS-only Animation for Search Bar */
        .search-bar {
            position: absolute;
            right: 23px;
            top: 38px;
            width: 40px; /* Initial width - just button */
            height: 44px;
            overflow: hidden;
            transition: width 0.8s ease;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            /* Add transitions for all animating properties */
            transition: 
                width 0.4s ease,
                top 0.8s ease 0.4s, /* Add delay for top property */
                background-color 0.8s ease 0.4s,
                box-shadow 0.8s ease 0.4s,
                border-radius 0.8s ease 0.4s;
        }

        /* When search bar contains focus, expand horizontally */
        .search-bar:focus-within {
            width: 300px;
            top: 130px;
            background-color: white;
            box-shadow: rgb(77, 77, 77, 0.5) 0px 15px 30px 2px;
            border-radius: 7px;
            border: 0px solid #838588;
        }
        .search-bar img {
          width: 25px;
          height: auto;
          margin: 2px;
        }
        /* Input styling */
        #search-input {
            position: absolute;
            right: 40px;
            width: calc(100% - 50px);
            height: 36px;
            padding: 0 15px;
            border: none;
            outline: none;
            background: white;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 0.5s ease, transform 0.4s ease;
        }

        .search-bar:focus-within #search-input {
            opacity: 1;
            transform: translateX(0);
        }

        /* Button styling */
        .search-bar button {
            position: relative;
            top: 0;
            left: 0;
            background: none;
            border: 0px solid red;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
        }

        .search-bar .material-icons {
            color: black;
            font-size: 24px;
            transition: color 0.8s ease 0.4s;
        }

        .search-bar:focus-within .material-icons {
            color: #333;
        }

  
  
  
  .menu {
    position: absolute;
    right: 15px;
    top: 10px;
    float: right;
    text-align: right;
    width: 35px;
    height: 35px;
    border: 0px solid black;
    border-radius: 7px;
  }
  
  
     .product-image {
        position: relative;
        cursor: zoom-in;
    }
    
    .product-image img {
        width: 100%;
        display: block;
        transition: transform 3.0s ease;
    }
    
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.6);
        backdrop-filter: blur(5px);
        z-index: 10000;
        justify-content: center;
        align-items: center;
        cursor: zoom-out;
    }
    
    .modal-content2 {
        max-width: 90%;
        max-height: 90%;
        animation: zoomIn 0.8s ease;
        border: 1px solid rgba(255,255,255,0.2);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        background-color: rgba(255,255,255,0.1);
    }
    
    @keyframes zoomIn {
        from {transform: scale(0.5); opacity: 0;}
        to {transform: scale(1); opacity: 1;}
    }
    
    .close-btn {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
        

      
        
        
  
  .about {
    width: 100%;
    height: 95vh;
    background: white;
  }
  .about h1 {
    font-size: 23px;
    margin-left: 20px;
    margin-top: -10px;
  }
  .about img {
    height: 70px;
    width: auto;
    margin: 30px 0px 0px 10px;
  }
  
  
  
  
  
  
  
  
  
   /* Main content area */
        .content {
            flex: 1;
            padding: 20px;
            background-color: white;
            border-radius: 8px 8px 0 0;
            margin-bottom: 0;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
        }
        
        /* Footer Styles */
        footer {
            
            background: radial-gradient(circle, #606366 0%, #353539 100%);
            color: #fff;
            padding: 0;
            border-radius: 0 0 8px 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
        
        .footer-top {
            background-color: #636567;
            text-align: center;
            padding: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .footer-top:hover {
            background-color: #787d81;
        }
        
        .footer-top span {
            font-size: 14px;
        }
        
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 5%;
            max-width: 1400px;
            margin: 0 auto;
        }
        
        .footer-column {
            flex: 1;
            min-width: 200px;
            padding-right: 20px;
            margin-bottom: 30px;
        }
        
        .footer-column img {
          width: 40px;
          height: auto;
        }
        
        .footer-column h3 {
            color: #fff;
            font-size: 16px;
            margin-bottom: 0px;
            font-weight: 600;
            text-transform: uppercase;
        }
        
        .footer-column ul {
            list-style: none;
        }
        
        .footer-column ul li {
            margin-bottom: -5px;
        }
        
        .footer-column ul li a {
            color: #ddd;
            text-decoration: none;
            font-size: 14px;
            transition: color 0.2s;
            border: 0px solid red;
        }
        
        .footer-column ul li a:hover {
            color: #fff;
            text-decoration: underline;
        }
        
        /* Newsletter Styles */
        .newsletter-form {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
        }
        
        .newsletter-form input {
            flex: 1;
            padding: 8px;
            border: none;
            outline: none;
            border-radius: 6px;
            font-size: 14px;
            margin-bottom: 10px;
        }
        
        .newsletter-form button {
            background-color: #848689;
            color: #111;
            border: none;
            padding: 0 10px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 600;
            transition: background-color 0.3s;
        }
        
        .newsletter-form button:hover {
            background-color: #00C3FF;
        }
        
        /* Social Icons */
        .social-icons {
            display: flex;
            margin-top: 20px;
        }
        
        .social-icons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #636569;
            border-radius: 25%;
            margin-right: 12px;
            color: white;
            font-size: 20px;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.3s;
        }
        
        .social-icons a:hover {
            background-color: #000000;
            transform: translateY(-3px);
            color: #19bbff;
        }
        
        /* Payment Methods */
        .payment-methods {
            display: flex;
            align-items: center;
            margin-top: 20px;
            flex-wrap: wrap;
        }
        
        .payment-methods span {
            background-color: #FEFEFA;
            border-radius: 6px;
            padding: 2px 5px;
            margin-right: 8px;
            margin-bottom: 8px;
            font-size: 12px;
            color: #232f3e;
            font-weight: 600;
        }
        
        /* Footer Bottom */
        .footer-bottom {
            background-color: #28292b;
            padding: 20px 5%;
            text-align: center;
            font-size: 13px;
        }
        
        .footer-bottom p {
            margin-bottom: 10px;
            color: #ddd;
        }
        
        .footer-bottom a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
            transition: color 0.2s;
        }
        
        .footer-bottom a:hover {
            color: #00C3FF;
            text-decoration: underline;
        }
        
        /* Cookie Consent */
        .cookie-consent {
            position: fixed;
            top: 40%;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%);
            background-color: #fff;
            padding: 15px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            display: inline-block;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            max-width: 500px;
            z-index: 10005;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s, visibility 0.4s;
        }
        
        .cookie-consent.active {
            opacity: 1;
            visibility: visible;
        }
        
        .cookie-text {
            margin-right: 20px;
            font-size: 14px;
            color: #333;
        }
        
        .cookie-buttons {
            display: flex;
        }
        
        .cookie-buttons button {
            padding: 4px 10px;
            margin-left: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 600;
            font-size: 13px;
            transition: background-color 0.3s;
        }
        
        .accept-cookies {
            background-color: #00C3FF;
            color: white;
        }
        
        .accept-cookies:hover {
            background-color: #00C3FF;
        }
        
        .reject-cookies {
            background-color: #ddd;
            color: #333;
        }
        
        .reject-cookies:hover {
            background-color: #ccc;
        }
        
        /* Back to top button */
        .back-to-top {
            display: none;
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            background-color: rgba(255,255,255,0.4);
            color: black;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            cursor: pointer;
            z-index: 99;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s;
        }
        
        .back-to-top:hover {
            background-color: #00C3FF;
        }
    
        /* Media Queries */
        @media (max-width: 768px) {
            .footer-content {
                flex-direction: column;
                padding: 30px 5%;
            }
            
            .footer-column {
                width: 100%;
                margin-bottom: 30px;
                padding-right: 0;
            }
            
            .newsletter-form {
                flex-direction: column;
            }
            
            .newsletter-form input {
                border-radius: 8px;
                margin-bottom: 10px;
            }
            
            .newsletter-form button {
                border-radius: 8px;
                padding: 8px;
            }
            
            .back-to-top {
                bottom: 20px;
                right: 20px;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
        
        
        
        
        
        
        
        
        
       
      
    
    .simple-toggle-btn.active {
        right: calc(270px + 20px);
        transform: translateX(260px);
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }

    .simple-sidebar {
        position: fixed;
        right: -350px; /* Start off-screen */
        top: 0;
        width: 300px;
        height: 100%;
        background: #EDEDED;
        z-index: 9998; /* Very high z-index, but below the button */
        overflow-y: auto;
        transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 30px;
    }

    .simple-sidebar.active {
        transform: translateX(-350px);
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        padding: 50px 10px 10px 10px;
        background: linear-gradient(360deg, #F7F7F7, #F7F7F7);
        color: black;
        margin-bottom: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .sidebar-header .logo {
        width: 70px;
        height: 70px;
        background-color: white;
        color: #6366f1;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 25px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    .sidebar-header img {
      width: 80%;
      height: auto;
      text-align: center;
    }

  
    .sidebar-header h2 {
      margin-left: 15px;
      font-size: 25px;
      font-weight: 700;
      opacity: 0;
      transform: translateY(50px);
      transition: all 1.5s ease;
      transition-delay: 0.2s;
    }
    
    .simple-sidebar.active .sidebar-header h2 {
      opacity: 1;
      transform: translateY(0);
    }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .link-text {
      color: black;
      font-size: 14px;
    }

    .nav-item {
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.4s ease;
        border-top: 1px solid #909091;
    }

    .simple-sidebar.active .nav-item {
        opacity: 1;
        transform: translateX(0);
    }


    .nav-item a {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        transition: all 0.3s ease;
        border-left: 4px solid transparent;
    }

    .nav-item a:hover {
        background: white;
        color: white;
        border-left-color: #00ADFF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: 1s ease;
    }

    .nav-item a i {
        margin-right: 15px;
        font-size: 16px;
        color: #454649;
    }
    .nav-item2 a button {
      width: 100%;
      border: none;
      margin-top: 5px;
      font-weight: 600;
      padding: 5px;
    }
    .nav-item2 a {
      text-align: center;
    }
    .nav-item2 {
      opacity: 0;
      transform: translateX(20px);
      transition: all 0.4s ease;
      border-top: 1px solid #909091;
      border-bottom: 1px solid #909091;
    }
    
    .simple-sidebar.active .nav-item2 {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.8s; 
    }

    .simple-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 9997; /* Below sidebar but above everything else */
    }
    

    .simple-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    /* Responsive adjustment */
    @media (max-width: 768px) {
        .simple-toggle-btn {
        position: fixed;
        top: 11px;
        right: 20px;
        }
        .simple-toggle-btn.active {
            right: 280px;
        }
        .slide img {
            width: 100%;
            height: auto;
            padding: 40px 10px 0px 10px;
            border: 0px solid red;
            object-fit: cover;
            text-align: center;
            transform: translateY(100px); /* Start slightly below */
            opacity: 0; /* Start invisible */
        }
        .slideshow-container {
            position: relative;
            width: 100%;
            max-width: 800px;
            height: 430px;
            margin: 0 auto;
            margin-top: 20px;
            overflow: hidden;
            border-radius: 8px;
            border: 0px solid red;
        }
    }
    
    
    #home3 {
      padding-top: 40px;
    }
    
    
    .p1 img {
      width: 60px;
      height: 60px;
      margin-left: 40px;
    }
    
    
    
    
    
    
    
    
    
    
    .card3 {
      height: 420px;
      width: 90%;
      margin: 20px auto;
      max-width: 400px;
      background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
      border-radius: 20px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      position: relative;
      color: #000000;
      display: flex;
      flex-direction: column;
      padding: 20px 15px 10px 15px;
    }
    
    .profile5-image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #FFFFFF;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.03), 0 0 0 4px rgba(0, 0, 0, 0.02); background: linear-gradient(135deg, #ffffff 0%, #f5f5f5 100%);
      border: 4px solid rgba(255, 255, 255, 0.3);
      overflow: hidden;
    }
    
    .profile5-image i {
      font-size: 45px;
      color: #C5C5C5;
    }
    
    .content1 {
      text-align: center;
      z-index: 1;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    
    .name1 {
      font-size: 17px;
      text-align: center;
      font-weight: 600;
      color: black;
    }
    
    .title1 {
      font-size: 14px;
      font-weight: 700;
      opacity: 0.9;
      margin-bottom: 7px;
      color: #494D53;
    }
    
    .bio {
      font-size: 13px;
      line-height: 17px;
      opacity: 0.9;
      margin-bottom: 3px;
      color: #494D53;
      font-weight: 450;
    }
    
    .stats {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 7px 0;
      flex-wrap: wrap;
    }
    
    .stat-item {
      text-align: center;
    }
    
    .stat-value {
      font-size: 17px;
      font-weight: 700;
      color: #494D53;
    }
    
    .stat-label {
      font-size: 13px;
      opacity: 0.9;
      color: #676D76;
      font-weight: 500;
    }
    
    .contact-info {
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: #494D53;
    }
    
    .contact-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
    
    .contact-item i {
      font-size: 15px;
      color: #494D53;
    }
    
    .contact-text {
      font-size: 14px;
    }
    
    .social2-links {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 3px;
    }
    
    .social2-link {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background-color: #808080;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
    }
    
    .social2-link:hover {
      background-color: black;
      transform: translateY(-3px);
      color: white;
    }
    .social2-link:hover i {
      color: #fffb71;
    }
    
    .social2-link i {
      color: white;
      font-size: 1.2rem;
    }
    
    .blob {
      position: absolute;
      opacity: 0.4;
      background-color: rgba(100, 100, 100, 0.9);
      border-radius: 50%;
    }
    
    .blob-1 {
      width: 160px;
      height: 160px;
      top: 140px;
      right: -100px;
      border: 0px solid red;
      background-image:linear-gradient(0deg, #5e5e5e, #b0b0b0, #e7e7e7);
      border-radius: 30px;
      transform: rotate(30deg);
    }
    
    .blob-2 {
      width: 100px;
      height: 100px;
      bottom: -20px;
      left: -10px;
      background-image:linear-gradient(0deg, white, #383a3d);
      border-radius: 30px;
      transform: rotate(130deg);
    }
    
    @media (max-height: 600px) {
      .card3 {
        height: auto;
        min-height: 420px;
      }
      
      .profile5-image {
        width: 80px;
        height: 80px;
      }
      
      .name1 {
        font-size: 18px;
        margin-top: 10px;
      }
      
      .title1 {
        font-size: 14px;
      }
      
      .bio {
        font-size: 13px;
      }
    }
    
    
    
    
    
     /* Preloader styling */
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10010;
            transition: opacity 0.5s ease;
        }
        
        .preloader-container {
            text-align: center;
        }
        
        .preloader-image {
            width: 70px;
            height: 70px;
            animation: pulse 1.5s infinite ease-in-out;
            margin-bottom: 15px;
            margin-right: 3px;
        }
        
        .circle-loader {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-top: 2px solid #000000;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        @keyframes pulse {
            0% { transform: scale(1); opacity: 1; }
            50% { transform: scale(1.1); opacity: 0.8; }
            100% { transform: scale(1); opacity: 1; }
        }
        
      
      
      
      
      
      
      
      
      .footer-column img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin: 0px 0px 10px 20px;
        }
        
        .footer-column h2 {
            margin: auto;
            font-size: 18px;
            color: white;
          }
        
        
        /* Modal Styles */
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            z-index: 10000;
        }
        
        .modal-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            max-width: 600px;
            max-height: 75vh;
            overflow-y: auto;
            box-shadow: 0 4px 15px rgba(0,0,0,0.2);
            transform: scale(0.8);
            opacity: 0;
            transition: transform 0.4s ease, opacity 0.3s ease;
        }
        
        .modal-active {
            opacity: 1;
            visibility: visible;
        }
        
        .modal-active .modal-container {
            transform: scale(1);
            opacity: 1;
        }
        
        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            padding-bottom: 0px;
        }
        
        .modal-title {
            font-size: 20px;
            font-weight: bold;
            color: #2a2a2a;
            margin: 0;
        }
        
        .close-button {
            background: none;
            border: none;
            font-size: 30px;
            cursor: pointer;
            color: #555;
            float: right;
        }
        
        .app-logo {
            display: flex;
            justify-content: left;
            margin: 0px 0px 0px 20px;
        }
        
        .app-logo img {
            width: 80px;
            height: 80px;
            border-radius: 20px;
            background-color: #EFEFEF;
            padding: 10px;
        }
        
        .app-description {
            line-height: 1.6;
            font-size: 14px;
            color: #444;
        }
        
        .feature-list {
            margin-top: 20px;
        }
        
        .feature-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        
        .feature-icon {
            margin-right: 15px;
            color: #77777A;
            font-size: 20px;
        }
        
        .app-version {
            margin-top: 30px;
            text-align: center;
            font-size: 14px;
            color: #777;
            font-weight: 600;
        }
    
    
    

  
  .home1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  
  
  
  #myH1 {
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Start a little below its final position */
  transition: opacity 1s ease-out, transform 1.5s ease-out; /* Smooth transition */
  transition-delay: 0.2s;
}

#myH1.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to its original position */
}

.p1 img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.p1 img.visible {
  opacity: 1;
  transform: translateY(0);
}
.about img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.about img.visible {
  opacity: 1;
  transform: translateY(0);
}
.footer-content img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.footer-content img.visible {
  opacity: 1;
  transform: translateY(0);
}